@use "../abstracts" as abs;

.social {
    @include abs.media-query(abs.$screen-md) {
        display: none;
    }

  &__linkIcon {
    font-size: 1.6rem;
    color: abs.$lightestSlate;
    transition: all 0.3s ease-out;
    &:hover {
      color: abs.$blue;
    }
  }

  &__email {
    @include abs.flex($gap: 0.4rem);

    text-align: center;
    margin-top: 0.5rem;
    color: abs.$lightestSlate;
  }

  &__email-icon {
    font-size: 1.6rem;
  }

  &__link {
    color: abs.$lightestSlate;
  }
}
